extends layout

block content
  .container
    .row
      .col-md-12
        h2 About Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor blandit egestas. Sed dictum vehicula eros, vitae molestie risus rutrum ac. Nam ac ligula pellentesque, porttitor est non, pellentesque ipsum. Proin at quam eu ex commodo finibus ac vitae nisi. Morbi
        a.btn.btn-default(href = '#') View More
