extends layout

block content
  .jumbotron
    h1 How May i Help you?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor blandit egestas. Sed dictum vehicula eros, vitae molestie risus rutrum ac. Nam ac ligula pellentesque, porttitor est non, pellentesque ipsum. Proin at quam eu ex commodo finibus ac vitae nisi. Morbi eget nunc ac est venenatis fermentum ut nec mauris. Praesent ipsum nunc, consectetur ut pretium nec, porta quis dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla sit amet congue orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis sit amet egestas erat, id tempor mi. Curabitur euismod, sapien ac laoreet tincidunt, urna ligula pretium lacus, quis vulputate nunc orci placerat ipsum. Ut lobortis gravida ipsum quis venenatis. Nullam interdum rutrum magna non varius. Suspendisse efficitur finibus erat sed dignissim. Aliquam congue ligula nunc, ac ullamcorper nisi lobortis vitae
    a.btn.btn-primary.btn-lg(href = '#') Learn more
  .container
    .row
      .col-md-4
        h2 About Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor blandit egestas. Sed dictum vehicula eros, vitae molestie risus rutrum ac. Nam ac ligula pellentesque, porttitor est non, pellentesque ipsum. Proin at quam eu ex commodo finibus ac vitae nisi. Morbi
        a.btn.btn-default(href = '#') View More
      .col-md-4
        h2 Contact Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor blandit egestas. Sed dictum vehicula eros, vitae molestie risus rutrum ac. Nam ac ligula pellentesque, porttitor est non, pellentesque ipsum. Proin at quam eu ex commodo finibus ac vitae nisi. Morbi
        a.btn.btn-default(href = '#') View More
      .col-md-4
        h2 Join Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor blandit egestas. Sed dictum vehicula eros, vitae molestie risus rutrum ac. Nam ac ligula pellentesque, porttitor est non, pellentesque ipsum. Proin at quam eu ex commodo finibus ac vitae nisi. Morbi
        a.btn.btn-default(href = '#') View More
