doctype html
html(lang='en')
  head
    title #{title} : Bootstrap Example

    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') WebSiteName

        ul.nav.navbar-nav
          li(class=(title === 'Home' ? 'active' : ''))
            a(href='/') Home

          li(class=(title === 'about'? 'active' : ""))
            a(href='/about') About

          li(class=(title === 'contact'? 'active' : ""))
            a(href='/contact') Contact

block content
